/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */
.html{
  height: 100%;
}

.boxwrapper {
  display: grid;
  grid-row-start:auto;
  height: 100vh;
}

.left {
  grid-row:1;
  width:22vw;
}

.center {
  grid-row:1;
  width:56vw;
  margin-top: 5vh;
  position: relative;
  display: flex;
}

.right {  
  grid-row:1;
  width: 22vw;
  position: relative;
}

#postNavigation {
  width: 22%;
  padding-right: 2%;
  position: relative;
  border-right: solid black 2px;
}

#postsContainer {
  overflow: hidden;
  width: 76%;
  position: relative;
  box-sizing: border-box;
}

#titleContainer h1{
  letter-spacing: -.01em;
}

#moodGif {
  width: 80%;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}

.post{
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0 1.5rem 5rem 1.5rem;
}

#postNavigation button {
  all: unset;
  margin: .25em 0em;
  padding-left: 0em;
  transition: padding-left linear .2s;
}

#postNavigation button:hover{
  padding-left: 1em;
}

/*big header*/
h1 {
  color: black;
}

/*sub header*/
h2 {
  color: black;
}
 
p {
  font-size: 1.1em;
  color: black;
  font-weight: 400;
}

/*li is formatting for list items*/
li{

}

strong {
  
}

a {
  word-break:break-all;
  color: black;
  text-decoration-thickness: 2px;
}

body {
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  overscroll-behavior: none;
  overflow: scroll;
  margin: 0;
}

@font-face {
  font-family: arialCondensed;
  src: url("/fonts/arial-mt-condensed.ttf");
}
