* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  text-align:start;
  font-size: 2em;
  font-weight: 500;
  width: 100%;
  color: white;
  line-height: 1.7rem;
  margin-top: .5rem;
  text-shadow: 1px 1px 1px black;
}

h1 {}

h2 {
  font-family: Gaegu-Bold;
  font-size: 2.5em;
  color: white;
  text-shadow: 1px 1px 1px black;
}

a {
  color: rgb(255, 255, 255);
  backdrop-filter: brightness(.9);
}

em {}

strong {}

span {
  white-space: nowrap;
}

img {
  transition: scale .25s;
}

img:hover {
  scale: 2;
  z-index: 1000;
  position: relative;
}

.container:has(img:hover) {
  z-index: 999;
  position: relative;
}

.description {
  display: flex;
  flex-direction: column;
  overflow: visible;
  padding: .5rem 0 1rem .5rem;
}

.description article {
  overflow: visible;
}

.container {
  padding: 1rem;
  margin: .5rem;
  height: 25rem;
  gap: 2rem;
  box-sizing: border-box;
  background-color: rgba(147, 190, 150, 0.7);
  border-radius: 20px;
  border: 2px black solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: visible;
}

#centerContent {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 25rem;
  gap: 2rem 2rem;
}

#title {
  font-size: 5em;
  color: white;
  margin: 1.5rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

body {
  font-family: Gaegu-Bold;
  width: 100vw;
  background-attachment: fixed;
  background-position:center;
  background-image: url("/img/plants/window-2025-12-12.png");
  background-size: cover;

  /* letter outline */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 3px dotted black;
  color: rgb(255, 255, 255);
}

.tooltiptext {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
  scale: 0;
  transition: scale .5s;
}

.tooltiptext img {
  height: 25vw;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  scale: 1;
}

.plant-image {
  width: auto;
  padding: 1rem .5rem 1rem 0rem;
  object-fit: contain;
  max-width: 40%;
}

@font-face {
  font-family: Gaegu-Regular;
  src: url("/fonts/Gaegu-Regular.ttf");
}

@font-face {
  font-family: Gaegu-Bold;
  src: url("/fonts/Gaegu-Bold.ttf");
}