/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

.boxwrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2%;
}

.left {
  flex: 1;
  margin-left: 12%;
  margin-top: 10%;
}

.center {
  flex: 2;
  margin-top: 2%;
}

.right {
  flex: 1;
  margin-right: 12%;
  margin-top: 10%;
}

.container {
  border-radius: 10px;
  
  box-shadow:
    inset 0 0 0 1.5px black,
    inset 0 0 0 6px rgba(120, 240, 240, .9),
    inset 0 0 0 7.5px black;
  
  line-height: 0;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0.7);
  background-attachment: fixed;
  padding:3%;
  padding-bottom: 5%;

  /*margin below container*/
  margin-bottom: 10px;
  
  /*outline around letters*/
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: rgb(255,20,147); 
}

/*change color on hover*/
.container:hover{  
  box-shadow:
    inset 0 0 0 1.5px black,
    inset 0 0 0 6px rgba(0, 200, 200, .9),
    inset 0 0 0 7.5px black;
}

/*big header*/
h1 {
  font-size: 50px;
  text-align: center;
  color:rgb(235,0,127);
  margin-bottom: 2.5%;
}

/*sub header*/
h2 {
  font-size: 30px;
  color:rgb(235,0,127);
  margin-top: 20px;
  margin-bottom: 3px;
}
 
p {
  /*paragraph spacing*/
  margin-bottom: 12px;
  color:hotpink;
  font-size: 25px;
}

/*li is formatting for list items*/
li{
  color:rgb(235,0,127);
  font-size: 25px;    
}

strong {
  color:rgb(235,0,127);
}

a {
  background-color: rgba(255,105,180,0.3);
  color:rgba(230,80,155,1);
}

a img{
  display: inline-block;
  vertical-align: middle;
}

a:hover{
   background-color: rgba(240,90,165,0.5); 
}


body {
  /*background-image: linear-gradient(rgba(140, 255, 255, .7), rgba(255,140,255, .7), rgba(255,255,140, .7), rgba(140, 255, 255, .7)), url(/index/background-image.jpg);*/
  /* background-image: url('waveform-background.png'); */
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  font-family: "Pixelify Sans", serif;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -100;
  overflow: hidden;
  pointer-events: none;
}

.video-container video {
  width: 100vw; 
  height: 100vh;
  object-fit: fill;
}

.gallery{
  overflow: hidden;
  height: 400px;
  position: relative;
  margin-top: 4%;
  margin-bottom: 2%;
}

.scroll-wrapper-vertical{
  width : auto;
  position: absolute;
  overflow: hidden;
  animation: scroll-vertical 15s linear infinite;
}

.scroll-wrapper-vertical img{
  display: block;
  width : 100%;
  height:auto;
  margin-bottom: 4%;
}

.scroll-content{
  display: flex;
  flex-direction: column;
}

.horizontal-bar{
  overflow: hidden;
  width: 200%;
  position: fixed;
  display: flex;
  white-space: nowrap;
  margin-bottom: 1%;
  z-index: 1000;
  bottom: 0;
  left: 0;
  animation: scroll-horizontal 15s linear infinite;
}


/*.horizontal-bar .content {*/
/*  display: flex;*/
/*  width: max-content;*/
/*  animation: scroll-horizontal 15s linear infinite;*/
/*}*/

@keyframes scroll-vertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}