/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

.boxwrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2%;
}

.left {
  flex: 1;
  margin-left: 11%;
  margin-top: 10%;
}

.center {
  flex: 2;
  margin-top: 2%;
}

.right {
  flex: 1;
  margin-right: 12%;
  margin-top: 10%;
}


@media only screen and (max-width: 768px){
  .boxwrapper {
    display: grid;
    grid: auto-flow; 
    gap: 0%;
  }

  .left {
    grid-row: 2;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 0%;
  }

  .center {
    grid-row: 1;
    margin-left: 2%;
    margin-right: 2%;
  }

  .right {
    grid-row: 3;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10%;
  }

  /* fixes padding for container */
  .container{
    padding: 1em !important;
  }
  
  .containerContent{
    border-radius: .4em;
    word-wrap: break-word; 
    background-color: rgba(255, 255, 255, 1);
    padding:1em!important;
    padding-bottom: 5%;
  
    /*outline around letters*/
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgb(255,20,147);
  }

  /* changes font size for mobile */
  p{
    font-size: 1em !important;
  }

  /*big header*/
  h1 {
    font-size: 135% !important;
    text-align: center; 
    color:rgb(235,0,127);
    margin-bottom: 5% !important;
    margin-top: 5% !important;
  }
  
  #centerContent{
    height: 37em !important;
  }

  .horizontal-bar{
    animation: scroll-horizontal 5s linear infinite !important;
  }
}

.container {
  display: block;
  border-radius: .6em;
  background-image: linear-gradient(rgb(255, 255, 80),rgb(80, 255, 255), rgb(255, 80, 157), rgb(255, 255, 80),rgb(80, 255, 255));
  box-shadow: 0 0 1em .6em rgb(205, 205, 205);
  background-attachment: fixed;
  padding:.625em;

  /*margin below and abocve container*/
  margin-bottom: .625em;
  
  /*outline around letters*/
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: rgb(255,20,147);
}

.containerBar{
  border-radius: .6em;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 1);
  padding: 3%;
  margin-bottom: .625em;
}


.containerContent{
  border-radius: .6em;
  word-wrap: break-word; 
  background-color: rgba(255, 255, 255, 1);
  padding:3%;
  padding-bottom: 5%;
  height: 100% - .625em;
  /*outline around letters*/
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: rgb(255,20,147);
}

/*change color on hover*/
.container:hover{  
  background-image: linear-gradient(rgb(255, 100, 100),rgb(100, 100, 255), rgb(100, 255, 98), rgb(100, 100, 255),rgb(255, 100, 100));
}

/*big header*/
h1 {
  font-size: 2.5em;
  text-align: center;
  color:rgb(235,0,127);
  margin-top: .05em;
  margin-bottom: .01em;
}

/*sub header*/
h2 {
  line-height: 115%;
  font-size: 1.875em;
  color:rgb(235,0,127);
  margin-top: .01em;
  margin-bottom: .1em;
}
 
p {
  /*paragraph spacing*/
  line-height: 110%;
  margin-bottom: 12px;
  color:hotpink;
  font-size: 1.4em;
}

details {
  line-height: 110%;
  margin-left: .75em;
  margin-bottom: 0.75em;
  margin-top: 0.75em;
  color:hotpink;
  font-size: 1.2rem;
}

details p{
  line-height: 110%;
  margin: .5em 0 0 1.2em;
  font-size: 1rem;
}

/*li is formatting for list items*/
nav{
  margin-top: .4em;
  margin-bottom: 2em;
}

.navLinkBorder{
  transition: padding .2s linear;
  margin: .5em 0;
}

.navLinkBorder:hover{
  padding-left: 5% !important;
  animation: navLinkBorder 1s linear infinite;
}

nav p{
  line-height: 100%;
  margin: 0;
  color:rgb(235,0,127);
  filter: hue-rotate(0);
  font-size: 1.56em;
  background-color: white;
}

nav button {
  background-color: transparent !important;
  font-size: 1em !important;
  line-height: 100%;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: rgb(255,20,147);
  display: block;
  margin:0;
  padding: 0;
  margin-left: 1em;
  border: none;
  outline: none;
  box-shadow: none;
}

nav a{
  background-color: transparent !important;
  display: block;
  text-decoration: none;
  margin-left: 1em;
}

/*li is formatting for list items typically used for non navigation links*/
li{
  color:rgb(235,0,127);
  font-size: 1.56em;    
}

strong {
  color:rgb(235,0,127);
}

a {
  background-color: rgba(255,105,180,0.3);
  color:rgba(230,80,155,1);
}

a:hover{
  cursor: pointer;
}

a img{
  display: inline-block;
  vertical-align: middle;
}

a:hover{
   background-color: rgba(240,90,165,0.5); 
}

#microBlogPreviewBoxText{
  height: 17em;
}

/* style for microblog object*/
#microblogPreview{
  height: 40vh;
  width: 60%;
  border: solid rgba(200,200,200);
  border-radius:5px;
}

body {
  /*background-image: linear-gradient(rgba(140, 255, 255, .7), rgba(255,140,255, .7), rgba(255,255,140, .7), rgba(140, 255, 255, .7)), url(/index/background-image.jpg);*/
  /* background-image: url('waveform-background.png'); */
  background-size: auto;
  background-image: url("/index/crossTile.png"), linear-gradient( rgb(80, 255, 255), rgb(255, 80, 157), rgb(255, 255, 80));
  background-repeat:repeat;
  background-size: 25vh auto;
  background-position: center;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Trebuchet MS', sans-serif;
}

/* button styling */
#translateButton{
  text-align: center; 
  color:rgb(235,0,127);
  background-color: white;
  border-radius: 5px;
}

video {
  clip-path: inset(1px 1px);
  background-image: linear-gradient(to right, rgb(80, 255, 255), rgb(255, 80, 157), rgb(255, 255, 80));
  background-clip: border-box;
  border-radius: .4em;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -100;
  overflow: hidden;
  pointer-events: none;
}

.video-container video {
  width: 100vw; 
  height: 100vh;
  object-fit: fill;
}

.gallery{
  overflow: hidden;
  height: 400px;
  position: relative;
  margin-top: 4%;
  margin-bottom: 2%;
}

.scroll-wrapper-vertical{
  width : auto;
  position: absolute;
  overflow: hidden;
  animation: scroll-vertical 15s linear infinite;
}

.scroll-wrapper-vertical img{
  display: block;
  width : 100%;
  height:auto;
  margin-bottom: 4%;
}

.scroll-content{
  display: flex;
  flex-direction: column;
}

.horizontal-bar{
  position: fixed;
  width: 100vw;
  bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 1%;
}

.marquee {
  height: 100%;
  width: 100%;

  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  height: auto;

  position: absolute;
  overflow: hidden;

  animation: marquee 18s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
  font-size: 0px;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}