/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */
.html{
  height: 100%;
}

.boxwrapper {
  display: grid;
  grid-row-start:auto;
}

.left {
  grid-row:1;
  width:25vw;
  height: 100vh;
}

.center {
  grid-row:1;
  width:50vw;
  height: 100vh;
}

.right {  
  grid-row:1;
  width: 25vw;
  height: 100vh;
}

@media only screen and (max-width: 768px){
  .boxwrapper.boxwrapper {
    flex-direction:column;
  }

  .left.left{
    height:10px;
  }

  .center.center{
    width:100%;
  }

  .right.right{
    height: 10px;
  }

  .titleContainer.titleContainer{
    width: 100%;
    font-size: 2em;
    text-align: center;
    margin-top: 0%!important;
  }

  .postContainer.postContainer{
    margin-left: 2%;
    margin-right: 2%;
    height: 60vh;
  }
}

.titleContainer{
  margin-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
  z-index: 1000;
  font-size: 2em;
}

.postContainer {
  height: 70vh;
  
  padding-left: 5%;
  padding-right: 5%;
  
  margin-top: -4%;

  overflow-y: scroll;
  overflow-x: hidden;
  
  border-radius: 10px;
  /* box-shadow: inset 0 0 0 .2em rgba(255,255,255,1);
  outline: solid rgba(255,255,255,1);
  outline-width: .2em;
  border: solid rgba(255,255,255,.5);
  border-width: .2em; */

  scrollbar-width: none;  /* Hide scrollbar in Firefox */
  -ms-overflow-style: none;  /* Hide scrollbar in Internet Explorer and Edge */
}

.posts{

}

.titleContainer h1{
  letter-spacing: -.01em;
}

/*big header*/
h1 {
  color: aliceblue;
}

/*sub header*/
h2 {
  color: aliceblue;
}
 
p {
  font-size: 1.1em;
  color: white;
  font-weight: 400;
}

/*li is formatting for list items*/
li{

}

strong {
  
}

.posts a {
  background-color: white;
  padding: .2em;
  color: black;
  text-shadow: none;
  text-wrap: nowrap;
}

body {
  background-image: url("/blog/blogBackground.png");
  font-family: arialCondensed;
  height: 100vh;
  overflow: hidden;
  text-shadow: 2px 2px 4px black;
}

@font-face {
  font-family: arialCondensed;
  src: url("/fonts/arial-mt-condensed.ttf");
}