/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */
.html{
  height: 100%;
}

.boxwrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.left {
  flex: 1;
  width:15%;
}

.center {
  flex: 1;
  width: 70%;
}

.right {  
  flex: 1;
  width: 15%;
}

.titleContainer{
  margin-top: -5%;
  margin-bottom: 3%;
  height:16vh;
  text-align: left;
  z-index: 1000;
  font-size: 4em;
}

.postContainer {
  height: 70vh;
  
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 0px;
  
  overflow-y: scroll;
  overflow-x: hidden;
  
  backdrop-filter: blur(.2em);
  border-radius: 10px;
  /* box-shadow: inset 0 0 0 .2em rgba(255,255,255,1);
  outline: solid rgba(255,255,255,1);
  outline-width: .2em;
  border: solid rgba(255,255,255,.5);
  border-width: .2em; */

  scrollbar-width: none;  /* Hide scrollbar in Firefox */
  -ms-overflow-style: none;  /* Hide scrollbar in Internet Explorer and Edge */
}

.posts{
  p{
  }
}

/*big header*/
h1 {
  color: aliceblue;
}

/*sub header*/
h2 {
  color: aliceblue;
}
 
p {
  font-size: 1em;
  color: aliceblue;
}

/*li is formatting for list items*/
li{

}

strong {
  
}

a {
  color: magenta;
}

body {
  margin:0;
  background-image: url("/blog/blogBackground.jpg");
  font-family: "Comic Sans MS", "Comic Sans", cursive;  
}

@font-face {
  font-family: OldEnglishGothicPixel;
  src: url(/fonts/OldEnglishGothicPixelRegular.otf);
}