/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */


.boxwrapper {
  display: grid;
  grid-row-start:auto;
}

.left {
  grid-row:1;
  width:17vw;
  height: 100vh;
}

.center {
  grid-row:1;
  width:66vw;
  height: 100vh;
}

.right {  
  grid-row:1;
  width:17vw;
  height: 100vh;
}


@media only screen and (max-width: 768px){
  .boxwrapper {
    display: grid;
    grid: auto-flow; 
    gap: 0%;
  }

  .left {
    grid-row: 2;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 0%;
  }

  .center {
    grid-row: 1;
    margin-left: 2%;
    margin-right: 2%;
  }

  .right {
    grid-row: 3;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10%;
  }

  /* fixes padding for container */
  .container{
    padding: 1em !important;
  }
  
  .containerContent{
    border-radius: .4em;
    word-wrap: break-word; 
    background-color: rgba(255, 255, 255, 1);
    padding:1em!important;
    padding-bottom: 5%;
  
    /*outline around letters*/
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgb(255,20,147);
  }

  /* changes font size for mobile */
  p{
    font-size: 1em !important;
  }

  /*big header*/
  h1 {
    font-size: 135% !important;
    text-align: center; 
    color:rgb(235,0,127);
    margin-bottom: 5% !important;
    margin-top: 5% !important;
  }
  
  .horizontal-bar{
    animation: scroll-horizontal 5s linear infinite !important;
  }
}

.container {
  display: block;
  border-radius: 3em;
  background-image: linear-gradient(45deg,rgb(80, 255, 255), rgb(255, 80, 157), rgb(255, 255, 80),rgb(80, 255, 255));
  background-attachment:local;
}

.containerContent{
  border-radius: 2em;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top:1em;
  bottom:1em;
  right:1em;
  left:1em;
}

body {
  /*background-image: linear-gradient(rgba(140, 255, 255, .7), rgba(255,140,255, .7), rgba(255,255,140, .7), rgba(140, 255, 255, .7)), url(/index/background-image.jpg);*/
  /* background-image: url('waveform-background.png'); */
  height: 100vh;
  margin:0;
  backdrop-filter: saturate(1.5);
  background-color: #f9f5ec;
  background-repeat:repeat;
  background-size: 15vh auto;
  background-position: center;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Trebuchet MS', sans-serif;
}