/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

.boxwrapper {
  display: flex;
  justify-content: space-between;
}

.left {
  flex: 1 25%;
  height: 100vh;
}

.center {
  flex: 2 50%;
}

.right {
  flex: 1 25%;
  height: 100vh;
}

@media only screen and (max-width: 768px){
  .boxwrapper.boxwrapper {
    display: grid;
    gap: 0%;
  }

  .left.left {
    grid-row: 1;
    width: auto;
    height: auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 0%;
    height: max-content;
  }

  .center.center {
    grid-row: 2;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .right.right {
    grid-row: 3;
    width:auto;
    height:auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 10%;
  }
}

.container {  
  background-color: lightgrey;
}

#title {
  height: 10%;
  margin-bottom: 1rem;
  display: relative;
}

#mainContent {
  grid-column: 2/5;
}

#links {
  grid-column: 1/2;
  overflow-wrap: break-word;
  white-space: norma;
  word-break: break-word;
}

.toolTip {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  position: relative;
}

.toolTip .toolTipText {
  opacity: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  padding: .1rem .25rem;

  /* Position the tooltip */
  position: absolute;

  left: 0;
  transform: translateY(-100%);
  top:0;

  z-index: 1;
  font-size: 1.1rem;

  pointer-events: none;
}

.toolTip:hover .toolTipText{
  opacity: 100%;
}

/*big header*/
h1 {
  color: black;
  font-size: 2em;
}

/*sub header*/
h2 {
  color: black;
}
 
p {
  font-size: 1em;
  color: black;
  overflow-wrap: break-word;
  font-weight: 400;
}

/*li is formatting for list items*/
li{

}

strong {
  
}

body {
  margin:0;
  width: 100vw;
  height: 100vh;
  font-family: "Ubuntu Sans Mono", monospace;
}