/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */
.html{
  height: 100%;
}

.boxwrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.left {
  flex: 1;
  width: 35%;
}

.center {
  flex: 1;
  width: 30%;
}

.right {
  flex: 1;
  width:35%;
}

.container { 
  width: 100%;
}

.rainbowRule{
  width: 100%;
  height: .4em;
  background-image: linear-gradient(to right, cyan, magenta, yellow);
  border-radius: 1em;
}

/*big header*/
h1 {
  font-family: monday-feelings;
  color: black;
  font-size: 2em;
}

/*sub header*/
h2 {
  color: black;
}
 
p {
  font-size: 1em;
  color: black;
  overflow-wrap: break-word;
}

/*li is formatting for list items*/
li{

}

strong {
  
}

body {
  margin:0;
  font-family: "Courier Prime", "Courier New", sans-serif;
}

@font-face {
  font-family: monday-feelings;
  src: url(/fonts/Monday-Feelings.ttf);
}